#share-buttons {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 0;
  top: 30px;
  @media (max-width: 830px) {
    right: -25px;
  }
}
#share-buttons a {
    margin:4px;
    width:54px;
    height:74px;
    z-index: 0;
    margin-top: 60px;
}
.sicon {
    float: left;
    width:54px;
    height:54px;
    background-color: transparent;
    background-image: url("../images/social-icons.png");
    background-repeat: no-repeat;
}
#share-buttons .sicon {
    margin-top: 2px;

}
#sfb {
    background-position:0 -59px ;
}
#stwit {
    background-position:50% 0 ;
}

#sgplus{
    background-position:0 -117px ;
}

#semail{
    background-position:0 -175px ;
}
#semail:hover, #sgplus:hover, #stwit:hover, #sfb:hover{
    opacity:0.9;
}

.social-count, .social-no-count {
    display: inline-block;
    position: relative;
}
#share-buttons .social-no-count {
  margin-top: 0;
}

.social-count:after {
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 2px;
    top: -40px;
    color: #444;
    content: attr(count);
    display: block;
    left: 0px;
    width: 54px;
    padding: 5px;
    text-align: center;
    position: absolute;
    text-shadow: 0 1px 0 #000;
    white-space: nowrap;
}

.social-count:before {
    border: solid;
    border: 1px solid #fff;
    border-color: #111 transparent;
    border-color: #fff transparent;
    border-width: .4em .4em 0 .4em;
    top: -9px;
    content: "";
    display: block;
    left: 22px;
    position: absolute;
}
.no-js {
  #share-buttons a {
    margin-top: 0 !important;
  }
  #share-buttons .social-count {
    margin-bottom: 0 !important;
  }
  .social-count:after {
      background: #fff;
      border: 1px solid #efefef;
      border-radius: 2px;
      top: -40px;
      color: #444;
      content: attr(count);
      display: none;
      left: 0px;
      width: 54px;
      padding: 5px;
      text-align: center;
      position: absolute;
      text-shadow: 0 1px 0 #000;
      white-space: nowrap;
  }

  .social-count:before {
      border: solid;
      border: 1px solid #fff;
      border-color: #111 transparent;
      border-color: #fff transparent;
      border-width: .4em .4em 0 .4em;
      top: -4px;
      content: "";
      display: none;
      left: 22px;
      position: absolute;
  }
}
